.box {
  border: 3px solid #2b5585;
  padding: 10px 5px;
  /* Ajuste o padding conforme desejado */
  width: 100px;
  /* Define a largura da caixa */
  height: 100px;
  /* Define a altura da caixa */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 30px 0 0;
  /* Arredonda o canto superior direito */
  border-bottom: 5px solid #5192dd;
  /* Define a borda inferior */
  transition: transform 0.3s ease;
}

.box .CImage {
  width: 50px;
  /* Ajuste o tamanho dos ícones */
  height: 50px;
}

.box:hover {
  transform: scale(1.2);
  background: linear-gradient(#f9fbfd, #ffffff) padding-box,
    linear-gradient(135deg, #05345a 10%, #00ecbc 100%) border-box;
  border: 3.2px solid transparent;
}

.box p {
  margin-bottom: 10px;
  /* Ajuste o valor da margem conforme desejado */
  color: #010102;
}


.CRowColumns {
  margin-bottom: 30px;
  margin-top: 30px;
}

.container {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 2s, transform 2s;
  margin-top: 2.7rem;
}

.slideIn {
  opacity: 1;
  transform: translateX(0);
}