.postModeloContainer {
    color: var(--cor-fonte-post);
    position: relative;
}


.fotoCapa,
.titulo {
    height: 350px;
}


.fotoCapa {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: -1;
    background-position: 45% 57%;
}



.titulo {
    padding: 0 40rem 12rem;
    font-size: 3.3rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: black;

}


.postConteudoContainer {
    padding: 2.5rem 7.5rem 4.5rem;
}


@media (max-width: 744px) {
    .postConteudoContainer {
        padding: 2rem 1.5rem 1.5rem;
    }
}


@media (max-width: 744px) {


    .fotoCapa,
    .titulo {
        height: 104px;
    }


    .titulo {
        padding: 0 1rem;
        font-size: 2rem;
    }


    .postConteudoContainer {
        padding: 2rem 1rem 1.5rem;
    }
}





